{% extends "base.html" %}
{% block content %}
<h1>Available cards</h1>
<dl>
{% for command,options in commands.items() %}
  <dt><a href="https://tools.ngb.schule/api/mfcdeck/{{ command }}"><code><strong>/{{ command|e }}</strong></code></a></dt>
  <dd>Card URL: <code>https://tools.ngb.schule/api/mfcdeck/{{ command|e }}</code></dd>
  <dd><dl>
  {% for name,descr,type,default in options %}
  	<dt><code>{{ name|e }}</code></dt>
  	<dd>{{ descr|e }}</dd>
  	<dd><code>{{ type }}: {{ default }}</code></dd>
  {% endfor %}
  </dl></dd>
{% endfor %}
</dl>
{% endblock %}
