{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('gettysetty.start') }}" method="POST">
  <div class="row">
    <div class="col-sm-12">
      <label for="abbreviation">Klassenname</label>
      <input type="text" width="100%" id="class" placeholder="Bezeichner" name="class" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label for="schema">Schema</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea id="schema" name="schema" style="100%"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="primary">Absenden</button>
    </div>
  </div>
</form>
{% endblock %}
