{% extends "htmx.html" %}
{% block content %}
<form action="{{ url_for('gettysetty.web.start') }}" method="POST">
	<div class="row">
		<div class="col-md-12">
			<label for="abbreviation">Klassenname</label>
			<input type="text" id="class" placeholder="Bezeichner" name="class" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="schema">Schema</label>
		</div>
		<div class="col-md-12">
			<textarea id="schema" name="schema" style="width:85%; height: 14em;"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="primary" hx-post="{{ url_for('gettysetty.api.generate') }}" hx-target="#generated-code" hx-swap="innerHTML">Absenden</button>
		</div>
	</div>
</form>
<div><pre id="generated-code"></pre></div>
{% endblock %}
