{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('moneysplit.start') }}" method="POST">
	<div class="row">
		<div class="col-md-12">
			<label for="users">Users</label>
		</div>
		<div class="col-md-12">
			<textarea id="users" name="users" placeholder="One user per line"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="schema">Schema</label>
		</div>
		<div class="col-md-12">
			<textarea id="schema" name="schema" placeholder="One transaction per line"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="submit" class="primary">Absenden</button>
		</div>
	</div>
</form>
{% endblock %}
