<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ title }}{% endblock %}</title>

	<link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css" id="stylesheet">
	<!-- <link rel="stylesheet alternate" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-dark.min.css"> -->

	<script>
	function setStylesheet() {
		style = 'default';
		if( window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ) {
			style = 'dark';
		}
		let url = 'https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-'+style+'.min.css';
		var elem = document.getElementById("stylesheet");
		elem.setAttribute('href', url);
	}

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change',
		e => {
			setStylesheet();
	});
	setStylesheet();
	</script>
	{% block head_styles %}{% endblock %}

	{% block head_scripts %}{% endblock %}
</head>
<body>

<h1>{% block heading %}{{ tool.name|e|capitalize }}{% endblock %}</h1>
<div id="content">
{% block content %}{% endblock %}
</div>

	{% block body_styles %}{% endblock %}
	{% block body_scripts %}{% endblock %}
</body>
</html>
