{% extends "base.html" %}
{% block content %}
<h1>Verfügbare Tools</h1>
<ul>
{% for name,tool in tools.items() %}
  <li>
	<span class="icon-home {%- if not tool.web %}inverse{% endif %}"></span>
	<span class="icon-settings {%- if not tool.api %}inverse{% endif %}"></span>
		{%- if tool.web %}
  	<a href="{{ url_for(tool.web) }}">{{ tool.name|e }}</a>
  	{% else %}
  	{{ tool.name|e }}
  	{% endif %}
  	{%- if tool.description %}: {{ tool.description|safe }}{% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
